
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 36px;
  font-weight: bold;
}

hr {
  border: 0;
  border-top: 1px solid #000;
  margin: 20px 0;
}

.content {
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
}

.subheader {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-top: 40px;
}

.subcontent {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.subcontent p {
  font-size: 18px;
  line-height: 1.8;
  text-align: left;
  flex: 1;
}

.image-frame {
  width: 400px;
  height: 400px;
  border: 1px solid #000;
  margin-left: 20px;
  flex-shrink: 0;
  background-image: url('https://i.scdn.co/image/bf9f29caf80ba2d1541e30a77fe4123a4410c858');
  background-size: cover;
  background-position: center;
}

.image-frame-left {
  width: 300px;
  height: 500px;
  border: 1px solid #000;
  margin-right: 20px;
  flex-shrink: 0;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8DCIQqLRvr0o3c29A6qoEaqVbxEiWtAsnWQ&s');
  background-size: cover;
  background-position: center;
}